<!------------ Technical Metadata  --------------------------------->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">

<!------------ SEO Metadata  --------------------------------->
<title> {{page.seo.title }} </title> 
<meta name="description" content="{{page.seo.description }}">
<meta name="keywords" content="{{page.seo.keywords }}">


<!------------  Social media sharing META Tags ------------>
<meta property="og:title" content="{{ page.title | default: site.data.site-settings.seo.title }}">
<meta property="og:description" content="{{ page.seo.description | default: site.data.site-settings.seo.description }}"> 
<meta property="og:image" content="{{ page.seo.social_image | default: site.data.site-settings.seo.social_image }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:type" content="website">
<meta name="twitter:card" content="{{ page.seo.twitter_card | default: site.data.site-settings.seo.twitter_card }}">
<meta name="og:site_name" content="{{ site.data.site-settings.seo.site_name }}">
<link rel="icon" type="image/png" href="{{ site.data.site-settings.seo.favicon_image }}">


<!------------ Google Fonts ------------>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oranienbaum&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

 <!---------------Favicon--------------->
 <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
<link rel="shortcut icon" href="/icons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
<link rel="manifest" href="/icons/site.webmanifest" />

<!------------ Tailwind Stylesheet  ------------>
<link rel="stylesheet" type="text/css" href="/assets/css/output-style.css">

<!------------ CloudCannon Editor Stylesheet   ------------>
<link rel="stylesheet" type="text/css" href="/editor.css" />

<!------------ Custom Stylesheet   ------------>
<link rel="stylesheet" type="text/css" href="/style.css" />



