<footer class="bg-featured text-light">
  <div class="container mx-auto px-8 py-8">
    <div class="sm:flex justify-between">
      <div class="sm:grid sm:grid-cols-3 mb-10 sm:mb-0">
        <div class="pr-5 lg:pr-20">
          <p class="font-semibold">Yoga Studio</p>
          <nav>
            <a href="/index.html#introduction" class="block">Introduction</a>
            <a href="/index.html#testimonials" class="block">Testimonials</a>
          </nav>
        </div>
        <div class="pr-5 pt-5 sm:pt-0 lg:pr-20">
          <p class="font-semibold">Classes</p>
          <nav>
            <a href="/classes.html" class="block">Zen Flow</a>
            <a href="/classes.html" class="block">Core Fusion</a>
            <a href="/classes.html" class="block">Sunrise Stretch</a>
            <a href="/classes.html" class="block">Booty Booster</a>
          </nav>
        </div>
        <div class="pt-5 sm:pt-0">
          <p class="font-semibold">Schedule</p>
          <nav>
            <a href="/schedule.html" class="block">Monday</a>
            <a href="/schedule.html" class="block">Tuesday</a>
            <a href="/schedule.html" class="block">Wednesday</a>
            <a href="/schedule.html" class="block">Thursday</a>
          </nav>
        </div>
      </div>
      <div>
        <p class="pb-2">Subscribe to our newsletter</p>
        <input type="email" placeholder="" class="border-2 focus:border-b-black outline-none" />
        <div class="sm:text-right mt-2">
          <button type="submit" class="button-footer px-5 py-2">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
    <hr class="py-5">
    <div class="container mx-auto px-8 pb-5">
      <div class="sm:flex justify-between">
        <div>
          <p> Terms of use </p>
        </div>
        <div>
  <p class="subtle">&copy; <span id="current-year"></span> All rights reserved.</p>
  <a href="https://refinedislandcreations.com/" class="subtle pt-2" target="_blank" rel="noopener noreferrer" aria-label="Link to Refined Island Creations website design and development">
    Built by <span class="underline font-semibold">Refined Island Creations</span>.
  </a>
</div>
      </div>
    </div>
</footer>




<div class="text-center px-5p md:px-0">
  
</div>