<section class="pt-8 sm:pb-8 xl:py-12">
  <div>
    {% if block.title %}
    <p class="heading-font text-4xl mt-2 sm:mt-0 pl-8 pb-5 sm:pb-8">{{block.title}}</p>
    {% endif %}
    <div class="{% if block.items.size >= 4 %} px-12 overflow-x-scroll {% else %} px-8 container mx-auto {% endif %} sm:flex  gap-4">
      {% for item in block.items %}
      <div class="{% if block.items.size >= 4 %} shrink-0 {% endif %} {% if block.main-border == 'border' %} border border-featured px-5 sm:px-0 pt-5 {% endif %} mb-8 sm:mb-0">
        <div class="sm:text-center">
          <div class="flex flex-row justify-center relative min-h-30 md:min-h-[40vh] sm:mx-5">
            <img src="{{item.image}}" alt="{{item.alt}}" class="object-cover w-full h-full absolute border" style="object-position: {{item.image-position}};">
          </div>
          <p class="border-b border-featured py-2 sm:py-5 heading-font text-xl">{{item.label}}</p>
          <p class="pt-2 sm:pt-5 sm:pb-0 sm:px-2 max-w-md">{{item.description}}</p>
          {% if item.button-url %}
          <div class="pt-5 pb-5">
            <a href="{{item.button-url}}" class="button px-5 py-2 ">{{item.button-text}}</a>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>



