  <!----------Text Image Section----------->
  
  <section class="border-b border-featured">
    
    <div class="flex flex-col sm:grid sm:grid-cols-2">
      <div class=" p-8 sm:flex sm:flex-col justify-end pb-10  sm:border-r border-featured border-b sm:border-b-0 lg:pr-44 {% if block.image-desktop-position == 'left' %} sm:border-l sm:border-r-0 lg:pl-44 {% endif %} ">
        <div class="sm:max-w-lg">
          <h3 class="heading-font text-4xl mt-2 sm:mt-0 pb-2 sm:pb-8">{{block.title}}</h3>
          <p class="pb-5">{{block.paragraph}}</p>
          <div>
            <a href="{{block.button-url}}" class="button px-5 py-2">{{block.button-text}}</a>
          </div>
        </div>
      </div>
      <div class="relative min-h-[40vh] sm:min-h-[75vh] {% if block.image-mobile-position == 'top' %} order-first {% endif %} {% if block.image-desktop-position == 'left' %} sm:order-first {% else %} sm:order-last {% endif %} ">
        <img src="{{block.image}}" alt="{{block.image-alt}}" class="absolute top-0 left-0 w-full h-full object-cover" style="object-position: {{block.image-position}};">
      </div>
    
    </div>

  </section>

